<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ParafaitPayment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="ParafaitUtils.Properties.Settings.ParafaitConnectionString"
        connectionString="Data Source=192.168.12.82\SQLEXPRESS;initial catalog=parafait;Connect Timeout=30;user id=parafait;password=parafait;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <userSettings>
    <ParafaitPayment.Properties.Settings>
      <setting name="ParafaitCOMPortNumber" serializeAs="String">
        <value>0   </value>
      </setting>
    </ParafaitPayment.Properties.Settings>
  </userSettings>
</configuration>